.qmake.stash
Makefile
*.o
libsimRuckig.1.0.0.dylib
libsimRuckig.1.0.dylib
libsimRuckig.1.dylib
libsimRuckig.dylib
libsimRuckig.so
libsimRuckig.so.1
libsimRuckig.so.1.0
libsimRuckig.so.1.0.0
Makefile.Debug
Makefile.Release
debug/
build/
object_script.simRuckig.Debug
object_script.simRuckig.Release
release/
*.pro.user
*.user
